################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AETL-Uploader/.vs/AETL-Uploader/v16
/AETL-Uploader/bin/Debug
/AETL-Uploader/obj/Debug
/AETL-Uploader/data
