<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AETL_Uploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AETL_Uploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.38.0.0" newVersion="1.38.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.38.0.0" newVersion="1.38.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <AETL_Uploader.Properties.Settings>
      <setting name="ClientID" serializeAs="String">
        <value/>
      </setting>
      <setting name="ClientSecret" serializeAs="String">
        <value/>
      </setting>
      <setting name="GoogleCloudStorageBaseUrl" serializeAs="String">
        <value>https://www.googleapis.com/upload/storage/v1/b/</value>
      </setting>
    </AETL_Uploader.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <AETL_Uploader.Properties.Settings>
      <setting name="GoogleSpeechBaseUrl" serializeAs="String">
        <value>https://speech.googleapis.com/v1/operations/</value>
      </setting>
      <setting name="GoogleLongRunningRecognizeBaseUrl" serializeAs="String">
        <value>https://speech.googleapis.com/v1/speech:longrunningrecognize</value>
      </setting>
      <setting name="GoogleCloudScope" serializeAs="String">
        <value>https://www.googleapis.com/auth/cloud-platform</value>
      </setting>
      <setting name="Bucket" serializeAs="String">
        <value>galaxy2-aetl</value>
      </setting>
      <setting name="GoogleCloudCredentialPath" serializeAs="String">
        <value>C:\Users\ceecam\source\git repos\AETL-Uploader\AETL-Uploader\data\booming-hue-210413-a08567a36cdd.json</value>
      </setting>
      <setting name="HotFolder" serializeAs="String">
        <value>O:\AETL-Encoded</value>
      </setting>
      <setting name="BucketSubfolder" serializeAs="String">
        <value>timelapses</value>
      </setting>
    </AETL_Uploader.Properties.Settings>
  </userSettings>
</configuration>
